#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

cdk-virtual-scroll-viewport {
  height: calc(100% - 68px);
  width: 100%;
}

.odd {
  --ion-item-background: #e2e2e2;
}

.focus {
  --ion-item-background: var(--ion-color-primary);
  --ion-item-color: #fff;
}
